package templates

import "github.com/rodrigo462003/FlickMeter/model"

templ Home(topMovies *model.TopMovies, user *model.User) {
	@Base()
	@BaseBody() {
		@navbar(user.ID != 0)
		<div class="flex flex-col gap-14 pt-[1%] px-[5%]">
			@listWithTitle("hot today", topMovies.HotDay, user)
			@listWithTitle("hot this week", topMovies.HotWeek, user)
			@listWithTitle("top all time", topMovies.AllTime, user)
		</div>
	}
}
