package templates

templ modal() {
	<dialog class="overflow-hidden rounded-lg shadow-sm shadow-black" id="modal" hx-on::after-settle="toggleModal()"></dialog>
	<script>
    function toggleModal() {
        const modal = document.getElementById('modal');
        const input = document.getElementById('email');

        if (modal.open) {
            modal.close();
        } else {
            modal.showModal();
            input.blur();
        }
    }
</script>
}
