package templates

templ SignIn() {
	@formContainer() {
		@formTitleContainer() {
			<h1 class="whitespace-nowrap text-4xl">Sign into</h1>
			<h1>Flickmeter</h1>
		}
		@form() {
			@input("Email / Username", "text", "username", "e.g. johndoe48 / john@flickmeter.com", "username", true)
			@input("Password", "password", "password", "", "current-password", true)
			@checkbox("remember", "Remember me")
			@button("submit", "submit", "Sign In", newHtmx("/signIn", "", "body","", "", true))
		}
	}
}
