@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 100% 200%;
    transition: background 400ms ease-in-out;
}

dialog[open]::backdrop {
    transition: background-color 600ms;
    background-color: rgb(0 0 0 / 25%);

    @starting-style {
        background-color: rgb(0 0 0 / 0);
    }
}

dialog.closing::backdrop {
    transition: background-color 600ms;
    background-color: rgb(0 0 0 / 0);
}

dialog[open] {
    animation: open 600ms forwards ease;
}

dialog.closing {
    animation: close 600ms forwards ease-in;
}

@keyframes open {
    from {
        opacity: 0;
        transform: translateY(100vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes close {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100vw);
    }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #B0B0B0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
